{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home__playlist">
    {% for playlist in playlists %}
    <div class="playlist mb-5">
        <h3 class="title is-3 has-text-success">{{playlist.title}}</h3>
        <hr />
        {% for song in playlist.songs.all %}
        <div class="song">
            <!-- foorloop counter outputs the number of the song in the playlist for every interation through playlist.song.all-->
            <span> {{forloop.counter}}</span>
            <span><b>{{song.title}}</b></span>
            <span>{{song.get_length}}</span>
        </div>
        {% endfor %}
    </div>
    {% empty %}
    <div class="playlist mb-5">There are no songs in this playlist</div>
    {% endfor %}
</div>
{% endblock %}